{% extends "base.html" %} {% block content %}
<div class="card col-12">
  <div class="card-body">
    <h1>{{ item.name }}</h1>
    <p class="card-text">
      {{ item.short }}
    </p>
  </div>
  <div class="card-body">
    <p class="card-text">
      {{ item.long }}
    </p>
    <a href="{{ url_for('get_items') }}" class="card-link">Till ordlista</a>
    {% if item.href %}
      <a href="{{ item.href }}" class="card-link" target="_blank">Extern Länk <i class="fa fa-external-link" aria-hidden="true"></i></a>
    {% endif %}
  </div>
</div>
{% endblock %}